.reservation-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.reservation-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reservation-form label {
    display: block;
    margin-top: 10px;
}

.reservation-form input[type="text"],
.reservation-form input[type="email"],
.reservation-form input[type="tel"],
.reservation-form input[type="date"],
.reservation-form input[type="time"],
.reservation-form input[type="number"],
.reservation-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reservation-form button {
    background-color: #FFEDC1;
    color: black;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.reservation-form button:hover {
    background-color: #FDB515;
}
